.no-spinner-input::-webkit-outer-spin-button,
.no-spinner-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner-input {
  -moz-appearance: textfield; /* Firefox */
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s;
  animation-timing-function: ease-in-out;
}
